{{!-- this is for single page --}}

<a href="{{@blog.url}}" class="btn  btn-default">Go Back</a>
<div class="container">

	<div class="row">

		<div class="col-md-6 col-md-offset-4">
			{{#post}}

				<h1>{{title}}</h1>
				<article class="single_post_ghost">
					
						{{content}}
					

				</article>
				<div class="author_ghost">
					{{#if author}}
					<img src="{{author.image}}" alt="{{author.name}}" />
					<p>{{author.name}}</p>
					<p>{{author.bio}}</p>
					<p>{{author.email}}</p>
					<p>{{author.website}}</p>
				{{/if}}	
				</div>
			{{/post}}

		</div>
	</div>
</div>